.container {
    background-color: f5f5f5;
}
.zebra > p.widget-text {
    font-size: 120%;
    color: #0B0B61;
}
.panel {
    background-color: #0B0B61;
    color: #f5f5f5;
}
.zebra, .panel, .panel > p {
    padding: 10px;
}
.zebra:nth-child(even) {
    background-color: #BDBDBD;
}